<link rel="stylesheet" href="/style.css">

<ul class="navbar">
    <li><a href="http://localhost:8000/blogs/home">HOME</a></li>
    <li><a href="http://localhost:8000/blogs/new">CREATE POST</a></li>
</ul>